@import "./variables.scss";
.apartment {
  //   height: 25rem;
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-direction: column;
  box-shadow: 0px 0px 4px 1px #00000038;
  transition: all 0.3s;
  //   &:hover {
  //     transform: translateY(-3px);
  //   }
  &__upper {
    height: 75%;
    display: flex;
  }
  &__divider {
    width: 100%;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.26);
  }
  &__lower {
    flex: 1;
    display: flex;
    padding: 1rem 2rem;
  }
  &__left {
    width: 35%;
    height: 100%;
    padding: 1rem;
  }
  &__right {
    width: 65%;
  }
  &__image {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
  }
  &__btn {
    margin-left: auto;
    background-color: $color-secondary !important;
  }
  &__heading {
    color: black;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 1rem;
    text-transform: capitalize;
  }
  &__details {
    display: flex;
    gap: 4rem;
    padding: 1rem;
  }
  &__bold {
    font-weight: 600;
    color: black;
    font-size: 2rem;
  }
  &__light {
    font-size: 1.3rem;
    margin-left: 0.2rem;
  }
  &__description {
    padding: 1rem;
    font-size: 1.1rem;
    color: black;
  }
  &__realtor h2 {
    text-transform: capitalize;
  }
}
#simple-popover
  > div.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  height: 9rem;
  width: 20rem;
  border-radius: 10px;
}

.helper__btn {
  display: flex;
  margin: 1rem 0rem;
  justify-content: space-evenly;
}
