.home {
  width: 100%;
  background-color: #f4f4f4;
  min-height: 91.5vh;
  display: flex;
  &__filter {
    width: 30rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-left: 15rem;
    margin-top: 5rem;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.212);
  }
  &__apartments {
    width: 82rem;
    padding: 3rem 2rem 0rem 2rem;
    height: 91.5vh;
    margin-left: 10rem;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
.divider {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.137);
}
.filter {
  &__heading {
    padding: 1rem;
    font-size: 2rem;
    color: black;
    font-weight: 600;
  }
  &__box {
    height: 10rem;
    margin-bottom: 4rem;
  }
  &__budget {
    &--heading {
      font-size: 1.5rem;
      padding: 1rem;
      color: black;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }
}
