.home {
  // width: 100%;
  background-color: #f4f4f4;
  height: 91vh;
  display: flex;
  &__filter {
    width: 30rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    // margin-left: 3rem;
    // margin-top: 4rem;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.212);
    @media only screen and (max-width: 63.75em) {
      width: 25rem;
    }
  }
  &__apartments {
    flex: 1;
    padding: 1rem 6rem 0rem 6rem;
    height: 91.5vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    @media only screen and (max-width: 63.75em) {
      padding: 1rem 4rem 0rem 4rem;
    }
    @media only screen and (max-width: 31.25em) {
      padding: 1rem 2rem 0rem 2rem;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__title {
    padding: 2rem 0rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: black;
    line-height: 1.6;
  }
}
.divider {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.137);
}
.filter {
  &__heading {
    padding: 1rem;
    font-size: 2rem;
    color: black;
    font-weight: 600;
  }
  &__box {
    height: 10rem;
    margin-bottom: 4rem;
  }
  &__budget {
    &--heading {
      font-size: 1.5rem;
      padding: 1rem;
      color: black;
      font-weight: 600;
      margin-bottom: 2rem;
    }
  }
}

.map {
  margin-bottom: 3rem;
  &__dimensions {
    height: 400px;
    @media only screen and (max-width: 37.5em) {
      height: 300px;
    }
  }
}

.homepagemain {
  display: flex;
  flex: 1;
  background-color: #f4f4f4;
}
.sidebar {
  &__links {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
  }
  &__ele {
    &:hover {
      background-color: #f4f4f4;
    }
  }
}

.ml-mt-md {
  margin-top: 6rem;
  margin-left: 5rem;
  @media only screen and (max-width: 63.75em) {
    margin-left: 2rem;
  }
}
.pagination {
  padding: 3rem;
  margin: 0 auto;
}
