@import "./variables.scss";
.story {
  z-index: -1;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100vh;
  &__pictures {
    background-color: $color-primary;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba($color-primary, 0.9),
        rgba($color-primary, 0.9)
      ),
      url(../assets/back.jpg);
  }
  &__img--1 {
    width: 25vw;
    position: absolute;
    box-shadow: 0 2rem 5rem rgba(#000, 0.1);
  }
  &__img--2 {
    width: 25vw;
    transform: translate(50%, 50%);
    box-shadow: 0 2rem 5rem rgba(#000, 0.2);
  }
  &__content {
    border: 1px solid red;
    background-color: $color-grey-light-1;
    grid-column: col-start 5/-1;
    padding: 6rem 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__text {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 4rem;
  }
}

%heading {
  font-family: $font-display;
  font-weight: 400;
}
.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: $color-grey-light-1;
  line-height: 1;
}
.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
  &__light {
    color: $color-grey-light-1;
  }
  &__dark {
    color: $color-grey-dark-1;
  }
}
.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: $color-primary;
  text-transform: uppercase;
}
.heading-4 {
  @extend %heading;
  font-size: 1.9rem;
  &__light {
    color: $color-grey-light-1;
  }
  &__dark {
    color: $color-grey-dark-1;
  }
}

.btn {
  background-color: $color-primary;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: $font-display;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: $color-primary-dark;
  }
}

.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-hg {
  margin-bottom: 8rem;
}
