@import "./variables.scss";
.login {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  &__card {
    height: 50rem;
    width: 70%;
    display: flex;
    @media only screen and (max-width: 75em) {
      width: 90%;
    }
    @media only screen and (max-width: 50em) {
      width: 55%;
    }
    @media only screen and (max-width: 37.5em) {
      min-width: 70%;
    }
    @media only screen and (max-width: 26.25em) {
      width: 90%;
    }
    &--left {
      background-image: linear-gradient(
          90deg,
          rgba($color-primary, 0.3),
          rgba($color-primary-dark, 0.3)
        ),
        url(https://res.cloudinary.com/dmimdxlso/image/upload/v1631795206/gal-10_tj8xfk.jpg);
      background-size: cover;
      background-position: center;
      width: 46vw;
      min-height: 100%;
      @media only screen and (max-width: 75em) {
        width: 65vw;
      }
      @media only screen and (max-width: 50em) {
        width: 0;
      }
    }
    &--right {
      display: flex;
      gap: 2rem;
      padding: 0rem 3rem;
      flex-direction: column;
      flex: 1;
      align-items: center;
      border: 0.1px solid $color-secondary;
      border-left: 0;
      @media only screen and (max-width: 50em) {
        border: 1px solid $color-secondary;
      }
    }
  }
  &__heading {
    text-transform: uppercase;
    font-size: 3rem;
    color: $color-primary;
    font-weight: 400;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }
  &__input {
    width: 17vw !important;
    @media only screen and (max-width: 75em) {
      width: 22vw !important;
    }
    @media only screen and (max-width: 50em) {
      width: 40vw !important;
    }
    @media only screen and (max-width: 37.5em) {
      width: 50vw !important;
    }
    @media only screen and (max-width: 26.25em) {
      width: 70vw !important;
    }
  }
  &__text {
    margin-top: 3rem;
    font-size: 1.5rem;
    margin-bottom: 13rem;
    color: $color-primary;
    &--b {
      text-decoration: underline;
      cursor: pointer;
      color: $color-primary-dark;
    }
  }
  &__btn {
    &:hover {
      background-color: $color-primary !important;
      color: white;
    }
  }
}
