@import "./variables.scss";
.mapapartment {
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-direction: column;
  box-shadow: 0px 0px 4px 1px #00000038;
  transition: all 0.3s;
  &__upper {
    height: 75%;
    display: flex;
  }
  &__divider {
    width: 100%;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.26);
  }
  &__lower {
    flex: 1;
    display: flex;
    padding: 1rem 2rem;
    @media only screen and (max-width: 37.5em) {
      padding: 0.5rem 1rem;
    }
  }
  &__left {
    width: 35%;
    padding: 1rem;
    @media only screen and (max-width: 84.6875em) {
      width: 28%;
    }
    @media only screen and (max-width: 37.5em) {
      width: 0;
      padding: 0;
    }
  }
  &__right {
    width: 65%;
    @media only screen and (max-width: 84.6875em) {
      width: 72%;
    }
    @media only screen and (max-width: 37.5em) {
      width: 100%;
    }
  }
  &__image {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
  }
  &__btn {
    margin-left: auto;
    background-color: $color-secondary !important;

    @media only screen and (max-width: 37.5em) {
      font-size: 0.7rem !important;
    }
    @media only screen and (max-width: 28.125em) {
      font-size: 0.5rem !important;
    }
  }
  &__heading {
    color: black;
    font-size: 1.75rem;
    font-weight: 600;
    padding: 1rem;
    text-transform: capitalize;
    @media only screen and (max-width: 88.75em) {
      padding: 0.5rem;
    }
    @media only screen and (max-width: 65.9375em) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 28.125em) {
      font-size: 1.1rem;
    }
  }
  &__details {
    display: flex;
    gap: 4rem;
    padding: 1rem;
    @media only screen and (max-width: 88.75em) {
      gap: 2rem;
      padding: 0.5rem;
    }
    @media only screen and (max-width: 65.9375em) {
      gap: 1rem;
    }
  }
  &__bold {
    font-weight: 600;
    color: black;
    font-size: 2rem;
    @media only screen and (max-width: 65.9375em) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 28.125em) {
      font-size: 1rem;
    }
  }
  &__light {
    font-size: 1.3rem;
    margin-left: 0.2rem;
    @media only screen and (max-width: 28.125em) {
      font-size: 0.9rem;
    }
  }
  &__description {
    padding: 1rem;
    font-size: 1.1rem;
    color: black;
    @media only screen and (max-width: 88.75em) {
      padding: 0.5rem;
    }
    @media only screen and (max-width: 65.9375em) {
      font-size: 0.9rem;
    }
  }
  &__realtor {
    @media only screen and (max-width: 37.5em) {
      font-size: 0.9rem;
    }
  }
  &__realtor h2 {
    text-transform: capitalize;
    @media only screen and (max-width: 37.5em) {
      font-size: 1.3rem;
    }
  }
}
#simple-popover
  > div.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  height: 9rem;
  width: 20rem;
  border-radius: 10px;
}
.helper__btn {
  display: flex;
  margin: 1rem 0rem;
  justify-content: space-evenly;
}
