@import "./variables.scss";
.navbar {
  background-color: $color-secondary;
  &__btn {
    font-size: 1.35rem !important;
  }
  &__link {
    text-decoration: none;
    color: white;
    &s {
      text-decoration: none;
      color: white;
      display: flex;
      margin-right: auto;
    }
  }
}
.dialog {
  &__title h2 {
    font-size: 2rem;
    font-weight: 700;
    color: $color-secondary;
  }
}

.AppImage {
  width: 70%;
  margin-top: 2rem;
}

.helper {
  display: flex;
  gap: 12rem;
  margin: 2rem 0;
  @media only screen and (max-width: 39.375em) {
    flex-direction: column;
    gap: 2rem;
  }
}

.nav {
  &__list {
    position: absolute;
    display: none;
    box-shadow: 0px 0px 3px 2px #00000038;
    top: 5.7rem;
    left: 1rem;
    color: black;
    background-color: white;
  }
  &__wrapper {
    display: flex;
    height: 6.5rem;
    align-items: center;
    &:hover .nav__list {
      display: block;
    }
  }
}
