@import "./variables.scss";
.notfound {
  display: flex;
  padding: 8rem 0;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  &__img {
    height: 30vh;
  }
  &__text {
    font-size: 3rem;
    @media only screen and (max-width: 31.25em) {
      font-size: 2rem;
    }
  }
  &__btn {
    background-color: $color-secondary !important;
    color: white !important;
    height: 3rem;
    width: 10rem;
  }
}
