@import './variables.scss';
.signup{
    display: flex;
    align-items: center;
    height: 91.5vh;
    justify-content: center;
    &__card{    
        height: 70%;
        width: 70%;
        display: flex;
        &--left{
            background-image:linear-gradient(90deg,rgba($color-primary,0.3), rgba($color-primary-dark,0.3)),url(../assets/gal-10.jpeg);
            background-size: cover;
            background-position: center;
            width: 65%;
            height: 100%;
        }
        &--right{
            display: flex;
            gap: 2rem;
            flex-direction: column;
            align-items: center;
            flex: 1;
            border: 0.2px solid $color-secondary;

            border-left: 0;
        }
    }
    &__heading{
        text-transform: uppercase;
        font-size: 3rem;
        color: $color-primary;
        font-weight: 400;
        margin-top: 2rem;
    }
    &__input{
        width: 70%;
    }
    &__text{
        margin-top: 2rem;
        font-size: 1.5rem;
        color: $color-primary;
        &--b{
            text-decoration: underline;
            cursor: pointer;
            color: $color-primary-dark;
        }
    }
    &__btn{
        font-size: 1.5rem !important;
        color: $color-primary !important;
        &:hover{
            background-color: $color-primary !important;
            color: white !important;
        }
    }
}
