@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 0;
  background-color: #ff997a27;
}
html{
  overflow-x: hidden;
}
*,
*::after,
*::before {
  box-sizing: inherit;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
.main-container{
  min-height: 80vh;
  width: 100vw;
  flex-direction: column;
  display: flex;
  margin-top: 2vh;
  align-items: center;
  justify-content: center;
}
.stopwatch{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lap-main-container{
  width: 100vw;
  display: flex;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: center;
}
.timer-screen{
  position: relative;
  top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background-color: white;
  transform-origin:center -250px;
  animation: 5s linear infinite;
  animation-fill-mode: forwards;
  box-shadow: 2px 4px 8px  #ffc86327;
}

@keyframes pendulum {
  0%{
    transform: rotateZ(0deg);
  }
  25%{
    transform: rotateZ(-30deg);
  }
  50%{
    transform: rotateZ(0deg);
  }
  75%{
    transform: rotateZ(30deg);
  }
  100%{
    transform: rotateZ(0deg);
  }
}

.timer-screen::before{
  content: '';
  height: 250px;
  width: 5px;
  top: -250px;
  position: absolute;
  background-color: black;
}

.icon-wrapper{
  margin-top: 10rem;
  display: flex;
  gap: 6rem;
}
.Icon{
  display: flex;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 50%;
}
.Icon:hover{
  background-color: black;
  color: white;
}
.timer-screen{
  display: flex;
  font-family: 'Roboto Mono', monospace;
}
.lap-container{
  background-color: #ff997a27;
  box-shadow: 2px 4px 8px #ff997acb;
  width: 32rem;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 510px){
  

}
@media only screen and (max-width:530px) {
  .lap-container{
    width: 25rem;
  }
  .icon-wrapper{
    gap: 4rem;
  }
  @keyframes pendulum {
  0%{
    transform: rotateZ(0deg);
  }
  25%{
    transform: rotateZ(-20deg);
  }
  50%{
    transform: rotateZ(0deg);
  }
  75%{
    transform: rotateZ(20deg);
  }
  100%{
    transform: rotateZ(0deg);
  }
}
}
@media only screen and (max-width:420px)  {
  .lap-container{
    width: 20rem;
  }
  .icon-wrapper{
    gap: 3rem;
  }
   @keyframes pendulum {
  0%{
    transform: rotateZ(0deg);
  }
  25%{
    transform: rotateZ(-12deg);
  }
  50%{
    transform: rotateZ(0deg);
  }
  75%{
    transform: rotateZ(12deg);
  }
  100%{
    transform: rotateZ(0deg);
  }
}
}
@media only screen and (max-width:350px)  {
  .lap-container{
    width: 90vw;
  }
  .icon-wrapper{
    gap: 1.5rem;
  }
  @keyframes pendulum {
  0%{
    transform: rotateZ(0deg);
  }
  25%{
    transform: rotateZ(-8deg);
  }
  50%{
    transform: rotateZ(0deg);
  }
  75%{
    transform: rotateZ(8deg);
  }
  100%{
    transform: rotateZ(0deg);
  }
}
}